/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-color: lightgray;
}
img{
    max-width: 100%;
}

.container {
    width: 80%;
    margin: 0 auto;
  }
  .html{
    background-color: red;
    
}
.css{
    background-color: yellow;
}
.js{
    background-color: aqua;
}
.php{
    background-color: blueviolet;
}
